{% extends "base_home.html" %}

 {% block styles %}
 <link rel="stylesheet" type="text/css" href="/static/css/profiles.css">
 <link rel="stylesheet" type="text/css" href="/static/css/navbar_white.css">
 {% endblock styles %}

 {% block content %}
 {% load static %}
 <style>

 body {
   position: relative;
   margin: 0;
   padding-bottom: 50rem;
   min-height: 100%;
 }

 .footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  background-color: #565656;
  color: white;
 }
 </style>

 <main role="main" class="container-fluid">
     <div class="row">
           <div class="avatar">
               <img src="{% static 'logos/logo-white.png' %}" height="160">
           </div>

         <div class="col-lg-10 no-float">
                 <h3><b><u>About:</u></b></h3><h4>Since 1999 we have worked in over 50 countries supporting people and enterprises
                   to work together to help their community have better access to goods, services and money.
                   By focusing on helping urban businesses to grow, we are allowing individuals, families and communities
                   up and down the supply chain to become prosperous. Prosperity isn’t just about counting wealth, it’s
                   about accessing all the benefits that wealth brings: access to safe drinking water; food security; a good
                   education; fair and equal job opportunities; decent health care and protection from the effects of
                   climate change.</h4>


                 <h4>If we can help developing nations to become prosperous, their people have a better chance of
                   improving their standard of living without relying on international aid and charity. That is truly
                   sustainable development!</h4>

                 <h4>Check out the <a href="https://challengesworldwide.com">Challenges Worldwide Website</a></h4>

         </div>

   </div>
   <div class="footer">
       <div class="container-fluid">
           <div class="row">
             <div class="col-lg-3 col-sm-3">
               <a style="color:white" href="https://challengesworldwide.com"><b>Challenges Worldwide</b></a>
             </div>
             <div class="col-lg-5 col-sm-3">
               <center><a style="color:white" href="/"><b>Home</b></a></center>
             </div>
             <div class="col-lg-1 col-xs-offset-2 col-sm-3">
               
             </div>

           </div>
       </div>
   </div>
   </main>
{% endblock content %}
